<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header_admin"></div>
<main role="main" class="container">
	<h1>Course Application</h1>
	<div th:if="${access}==3">
		<a th:href="@{/student/applycourse}">Apply Course</a>
		<div th:if="${#lists.isEmpty(myapplicationlist)}">
			<div>
				<table class="w3-table-all w3-centered">
					<tr>
						<th><h3>My Course Application</h3></th>
					</tr>
					<tr>
						<td>There is no course application.</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(myapplicationlist)}">
			<table class="table table-striped">
				<tr>
					<th colspan='6'>My Course Application</th>
				</tr>
				<tr>
					<th>Application ID</th>
					<th>Course Name</th>
					<th>Description</th>
					<th>Status</th>
					<th></th>
					<th></th>
				</tr>

				<tr th:each="app:${myapplicationlist}">

					<td th:text=${app.applicationId}>id</td>
					<td th:text=${app.course.courseName}>Course Name</td>
					<td th:text=${app.course.courseDesc}>Description</td>
					<td th:text=${app.status}>Status</td>
					<td><a
						th:href="@{/student/delete/{id}(id=${app.applicationId})}">Delete</a></td>

				</tr>
			</table>
		</div>
	</div>

	<div th:if="${access}==1">
		<!-- <form method="post" th:action="@{/student/reply}"> -->
		<table class="table table-striped">
			<tr>
				<th colspan='7' ><h3>Manage Student Course Applications</h3></th>
			</tr>
			<tr>
				<th colspan='7' style="text-align:center" ><h5>Pending Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${pending}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>

		<table class="table table-striped">
			<tr>
				<th colspan='7' style="text-align:center" ><h5>Accepted Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${accepted}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>

		<table class="table table-striped">
			<tr>
				<th colspan='7' style="text-align:center" ><h5>Other Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${others}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>
	</div>
	</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>