<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Course Application</title>
</head>
<body>
	<h1>Course Application</h1>
</body>

<div class="w3-responsive">
	<div th:if="${access}==3">
		<a th:href="@{/student/applycourse}">Apply Course</a>
		<div th:if="${#lists.isEmpty(myapplicationlist)}">
			<div>
				<table class="w3-table-all w3-centered">
					<tr>
						<th><h3>My Course Application</h3></th>
					</tr>
					<tr>
						<td>There is no course application.</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(myapplicationlist)}">
			<table class="w3-table-all w3-centered">
				<tr>
					<th colspan='6'>My Course Application</th>
				</tr>
				<tr>
					<th>Application ID</th>
					<th>Course Name</th>
					<th>Description</th>
					<th>Status</th>
					<th></th>
					<th></th>
				</tr>

				<tr th:each="app:${myapplicationlist}">

					<td th:text=${app.applicationId}>id</td>
					<td th:text=${app.course.courseName}>Course Name</td>
					<td th:text=${app.course.courseDesc}>Description</td>
					<td th:text=${app.status}>Status</td>
					<td><a
						th:href="@{/student/delete/{id}(id=${app.applicationId})}">Delete</a></td>

				</tr>
			</table>
		</div>
	</div>

	<div th:if="${access}==1">
		<!-- <form method="post" th:action="@{/student/reply}"> -->
		<table class="w3-table-all w3-centered">
			<tr>
				<th colspan='7'><h2>Manage Student Course Applications</h2></th>
			</tr>
			<tr>
				<th colspan='7'><h5>Pending Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${pending}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>

		<table class="w3-table-all w3-centered">
			<tr>
				<th colspan='7'><h5>Accepted Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${accepted}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>

		<table class="w3-table-all w3-centered">
			<tr>
				<th colspan='7'><h5>Other Applications</h5></th>
			</tr>
			<tr>
				<th>Application ID</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Details</th>
			<tr th:each="app:${others}">

				<td th:text=${app.applicationId}>Application ID</td>
				<td th:text=${app.course.courseId}>Course ID</td>
				<td th:text=${app.course.courseName}>Course Name</td>
				<td th:text=${app.student.studentId}>Student ID</td>
				<td th:text=${app.student.firstName}>Student Name</td>
				<td th:text=${app.status}>Status</td>
				<td><a th:href="@{/student/app/}+${app.applicationId}">View
						Details</a></td>
			</tr>
		</table>
	</div>

</div>
</html>