<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header_admin"></div>
<main role="main" class="container">
	<h2>Apply for course</h2>
	<table class="table table-striped">
		<tr>
			<td>Student ID:</td>
			<td th:text="${student.studentId}"></td>
		</tr>
		<tr>
			<td>Application for Semester:</td>
			<td th:text=${semester}>
		</tr>
	</table>
	<form method="post" th:action="@{/student/submitapplication}">
		<table>
			<tr th:unless="${eligibility == true}">
			<td colspan="2">Not eligible to apply for courses.</td>
		</tr>
			
			<tr th:if="${eligibility == true}">
				<td>Select Course</td>
				<td><select name="selectedcourse">
						<option value="">Select</option>
						<option th:each="course:${courselist}"
							th:text="${course.courseName}" th:value="${course.courseId}"></option>
				</select></td>
			</tr>
		</table>

		<button type="submit" th:if="${eligibility == true}">Apply</button>
	</form>

	<table class="table table-striped">
		<tr th:unless="${eligibility == true}">
			
		</tr>

		<tr th:if="${eligibility == true}">
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr th:each="course:${courselist}">
			<td th:text="${course.courseId}">Course Id</td>
			<td th:text="${course.courseName}">Course Name</td>
			<td th:text="${course.courseDesc}">Course Description</td>
		</tr>
	</table>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>