<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Application Details</title>
</head>
<body>
	<div class="w3-responsive">
		<form th:object="${app}" method="post" th:action="@{/student/app/{id}(id=${app.applicationId})}">
			<table class="w3-table-all w3-centered w3-hoverable">
				<tr>
					<th>Application ID</th>
					<th>Course ID</th>
					<th>Course Name</th>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Status</th>
				</tr>
				<tr>
					<td th:text=${app.applicationId}>applicationId</td>
					<td th:text=${app.course.courseId}>courseId</td>
					<td th:text=${app.course.courseName}>courseName</td>
					<td th:text=${app.student.studentId}>studentId</td>
					<td th:text=${app.student.firstName}>studentName</td>
					<td th:text=${app.status}>status</td>
				</tr>
				<tr th:object="${app}">
					<td><input type="hidden" th:field=*{student} /></td>
					<td><input type="hidden" th:field=*{course} /></td>
					<td></td>
					<th th:text="${app.status}=='pending'?'Update Status':''">change
						status or not</th>
					<td th:if="${app.status}=='pending'"><select
						th:field="*{status}">
							<option th:value="pending">select status</option>
							<option th:value="accepted">Accepted</option>
					</select>
						<button type="submit">Submit</button></td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>
	<div>
		<a th:href="@{/student/home/applications}"><button type="submit">Back
				to Application Home</button> </a>
	</div>
</body>
</html>