<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Grades</title>
</head>
<body>
<h2>Student Performance Management</h2>
<h3 th:text="${class.getCourse().courseName} + ' - ' + ${class.classId}"></h3>
	<table>
		<tr><th colspan="3" th:text="${subject.subjectName}">subject</th></tr>
		<tr>
			<th>Student ID</th>
			<th>Student Name</th>
			<th>Grade</th>
			<th>Manage</th>
		</tr>
		<tr th:each="sg:${map}">
			<td th:text="${sg.key.studentId}">ID</td>
			<td th:text="${sg.key.firstName} + ' ' + ${sg.key.lastName}">Name</td>
			<td th:text="${sg.value.grade}">grade</td>
			<td><a th:href="@{/grades/} +${class.getClassId()+'/'}+ ${subject.getSubjectId() + '/'} + ${sg.key.studentId}" class="btn" type="submit">edit</a></td>
		</tr>
	</table>
</body>
</html>