<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Grades</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
<meta charset="UTF-8">
</head>

<body>
	<div th:if="${access==1}" th:include="fragments/header :: header_admin"></div>
	<div th:if="${access==2}" th:include="fragments/header :: header_lect"></div>
	<div th:if="${access==3}" th:include="fragments/header :: header_student"></div>

	<main role="main" class="container">
		<h2>Student Performance Management</h2>
		<br />
		<h3
			th:text="${class.getCourse().courseName} + ' (Class ' + ${class.classId} + ')'"></h3>
		<table class="table table-striped">
			<tr align="center">
				<th>Subject</th>
				<th>Student Grades</th>
			</tr>
			<tr th:each="subject:${subjectlist}" align="center">
				<td th:text="${subject.subjectName}">subject</td>
				<td><a
					th:href="@{/grades/} +${class.getClassId()+'/'}+ ${subject.getSubjectId()}"
					class="btn btn-outline-dark" type="submit">view</a></td>
			</tr>
		</table>

		<a th:href="@{/classes}" class="btn btn-outline-dark" type="submit">Back to classes</a>

	</main>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>