<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/header :: header_admin"></div>
	<main role="main" class="container">
		<form method="post" th:object="${course}">
			<table class="table table-striped">
				<tr>
					<th>Course Name</th>
					<td><input type="text" th:field="*{courseName}" /></td>
				</tr>

				<tr>
					<th>Course Description</th>
					<td><input type="text" th:field="*{courseDesc}" /></td>
				</tr>
				<tr>
					<th>Class Size</th>
					<td><input type="number" min=10 th:field="*{classSize}" /></td>
				</tr>

				<tr>
					<th>Semesters</th>
					<td><select th:field="*{durationSemesters}">
							<option value="0" selected>Select Duration</option>
							<option th:value="1">1</option>
							<option th:value="2">2</option>
							<option th:value="3">3</option>
							<option th:value="4">4</option>
							<option th:value="5">5</option>
							<option th:value="6">6</option>
							<option th:value="7">7</option>
							<option th:value="8">8</option>
					</select></td>
				</tr>

				<tr>
					<th>Status</th>
					<td><select th:field="*{courseStatus}">
							<option value="Open" selected>Select Status</option>
							<option th:value="Open">Open</option>
							<option th:value="Closed">Closed</option>
					</select></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Add Course</button>
					</td>
				</tr>
			</table>
		</form>
	</main>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>