<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Class</title>
</head>
<body>
	<form action="/classes/insert" method="post" th:object="${courseClass}" th:action="@{/classes/insert}">
	
	<fieldset>
	<!-- Course Name: <input type="text" th:field="*{courseName}"/> -->
	<select th:field="${courseClass.course}">
		<option value="0"> select course </option>
		<option th:each="course: ${courseList}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
	</select>
	</fieldset>
	
	
		<button type="submit">Add Class</button>
	</form>
</body>
</html>