<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Courses</title>
</head>
<body>

	<h1>Course Listing Table</h1>
	<br/>
	<div class="w3-responsive">
	<table class="w3-table-all w3-centered w3-hoverable">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Class Size</th>
			<th>Semesters</th>
			<th>View Classes</th>
			<th>View Subjects</th>
		</tr>
		<tr th:each="course:${courses}">
			<td th:text=${course.courseId}>Id</td>
			<td th:text=${course.courseName}>Course Name</td>
			<td th:text=${course.courseDesc}>Course Description</td>
			<td th:text=${course.classSize}>Class Size</td>
			<td th:text=${course.durationSemesters}>Duration in Semesters</td>
			<td><a href="classlist.html" th:href="@{/classes/list(courseId=${course.courseId})}" class= "btn btn-default">view</a>
			<td><a href="subjectlist.html" th:href="@{/subjects/list(courseId=${course.courseId})}" class= "btn btn-default">view</a>
		</tr>
	</table>
	</div>
</body>
</html>