<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Course Details</title>
</head>
<body>
	<div class="w3-responsive">
		<h1 th:text=${class.course.courseName}>Class Course Name</h1>

		<br />
		<h3>Class Details</h3>
		<table class="w3-table-all w3-centered">
			<tr>
				<th>Class ID</th>
				<td th:text=${class.classId}>id</td>
			</tr>
			
			<tr>
				<th>Course</th>
				<td th:text="${class.course.courseName}+'&nbsp;('+${class.course.courseId}+')'">course</td>
			</tr>
			
			<tr>
				<th>Level</th>
				<td th:text=${class.level}>level</td>
			</tr>
			
			<tr>
				<th>Semester list</th>
				<td th:text=${semlist}></td>
			</tr>
			
			<tr th:if="${access == 1}">
				<th>Edit</th>
				<td>link</td>
			</tr>
			
		</table>
		
		<br />
		
		<h3>Subjects</h3>
		<table th:if="${class.course.courseSubjectList.size()>0}" class="w3-table-all w3-centered">
			<tr th:each="subject:${class.course.courseSubjectList}"><td th:text="${subject.subjectName}"></td></tr>
		</table>
		<a href="/classes" th:if="${access == 1}">Edit</a>
		
		<br />
		
		<h3>Lecturer</h3>
		<table th:if="${class.lecturerList.size()>0}" class="w3-table-all w3-centered">
			<tr th:each="lecturer:${class.lecturerList}"><td th:text="${lecturer.firstName}+' '+${lecturer.lastName}"></td></tr>
		</table>
		<a href="/classes" th:if="${access == 1}">Edit</a>
		<br />
		
		<form method="get" th:action="@{/classes}">
			<button>Back to classes</button>
		</form>

	</div>
</body>
</html>