<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create User Account</title>
</head>
<body>
<h1>Create User Account Form</h1>
<form action="/accounts/insert"  th:object="${user}" th:action="@{/accounts/insert}" method="POST" enctype="utf8">
    	<fieldset>
			<div class="col-md-4 mb-3">
			<p>User Id: <input class="form-control" type="text" th:field="*{username}"></p>
		</div>
		</fieldset>
		
		<fieldset>
		<div class="col-md-4 mb-3">
			<p>Password:<input class="form-control" type="password" th:field="*{password}"></p>
		</div>
		</fieldset>
		
		<fieldset>
		<div class="col-md-4 mb-3">
			<button type="submit">Submit</button>
		</div>
		</fieldset>
</form>

</body>
</html>