<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header_admin"></div>
<main role="main" class="container">
<form  th:object="${grade}" method="post" >
 	<fieldset>
	Grade:
	<select th:field="*{grade}" >
	<option th:value="None">Select Grade</option>
	<option  th:value="A">A</option>
  	<option  th:value="B">B</option>
  	<option  th:value="C">C</option>
  	<option  th:value="D">D</option>
  	<option  th:value="F">F</option>
  	</select>
	</fieldset> 
	<fieldset>
	Student Name:
	<select th:field="*{student}" >
	<option th:each="student:${student}"
		    th:value="${student.studentId}" 
		    th:text="${student.firstName}">Name</option>
  	</select>
	</fieldset>
	<fieldset>
	Course Name:
	<select th:field="*{clas}" >
	<option th:each="courseclass:${courseclass}"
		    th:value="${courseclass.classId}" 
		    th:text="${courseclass.course.courseName}">Name</option>
  	</select>
	</fieldset>
	<fieldset>
	Subject Name:
	<select th:field="*{subject}" >
	<option th:each="subject:${subject}"
		    th:value="${subject.subjectId}" 
		    th:text="${subject.subjectName}">Name</option>
  	</select>
	</fieldset>
	<fieldset>
	<button type="submit">Submit</button>
	</fieldset>
</form>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>