<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div th:if="${access==1}" th:include="fragments/header :: header_admin"></div>
<div th:if="${access==2}" th:include="fragments/header :: header_lect"></div>
<div th:if="${access==3}" th:include="fragments/header :: header_student"></div>
	<main role="main" class="container">
		<h1>Grade List</h1>
		<br />
		
			<table class="table table-striped">
				<tr>
					<th>Student Name</th>
					<th>Course Name</th>
					<th>Subject Name</th>
					<th>Grade</th>
				</tr>
				<tr th:each="grade:${grade}">
					<td th:text=${grade.student.firstName}>Student Name</td>
					<td th:text=${grade.clas.course.courseName}>Course Name</td>
					<td th:text=${grade.subject.subjectName}>Subject Name</td>
					<td th:text=${grade.grade}>Grade</td>
				</tr>
			</table>
		
	</main>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>