<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Add Grade</title>
</head>
<body>
<div class="w3-responsive">

<form  th:object="${grade}" method="post" >

 	<fieldset>
	Grade:
	<select th:field="*{grade}" >
	<option th:value="None">Select Grade</option>
	<option  th:value="A">A</option>
  	<option  th:value="B">B</option>
  	<option  th:value="C">C</option>
  	<option  th:value="D">D</option>
  	<option  th:value="F">F</option>
  	</select>
	</fieldset> 
	
	<fieldset>
	Student Name:
	<select th:field="*{student}" >
	<option th:each="student:${student}"
		    th:value="${student.studentId}" 
		    th:text="${student.firstName}">Name</option>
  	</select>
	</fieldset>
	
	<fieldset>
	Course Name:
	<select th:field="*{clas}" >
	<option th:each="courseclass:${courseclass}"
		    th:value="${courseclass.classId}" 
		    th:text="${courseclass.course.courseName}">Name</option>
  	</select>
	
	</fieldset>
	
	<fieldset>
	Subject Name:
	<select th:field="*{subject}" >
	<option th:each="subject:${subject}"
		    th:value="${subject.subjectId}" 
		    th:text="${subject.subjectName}">Name</option>
  	</select>
	</fieldset>
	
	
	
	<fieldset>
	<button type="submit">Submit</button>
	</fieldset>
</form>


</div>

</body>
</html>