<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leave List for One Staff  </title>
</head>
<body>

<table>
	<tr>
	<th>ApplicationID</th>
	<th>LeaveStartTime</th>
	<th>Duration</th>
	<th>Reason</th>
	<th>Status</th>
	<th>Edit</th>
	<th>Cancel</th>
	</tr>
	
	<tr th:each="leave:${leave}">
	
	<td th:text=${leave.leaveId}>id</td>
	<td th:text=${leave.dateStart}>leavedatestart</td>
	<td th:text=${leave.duration}>duration</td>
	<td th:text=${leave.reason}>reason</td>
	<td th:text=${leave.status}>status</td>
	<td><a th:href="@{/leave/edit/}+${leave.leaveId}">Edit</a></td>
	<td><a th:href="@{/leave/delete/}+${leave.leaveId}">Delete</a></td>
	
	</tr>
	</table>
	
	<!--  
	<div>
				<a class="btn btn-success" th:href="@{/leave/add}">Add New Application</a>
			</div>
	
	-->
			
</body>
</html>