<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Leave Details</title>
</head>
<body>
<div class="w3-responsive">
<table class="w3-table-all w3-centered w3-hoverable">
	<tr>
	<th>Application ID</th>
	<th>Staff ID</th>
	<th>Staff Name</th>
	<th>LeaveStartTime</th>
	<th>Duration</th>
	<th>Reason</th>
	<th>Status</th>
	<th>Annual Leave Balance</th>
	</tr>
	<tr th:each="leave:${leave}" >
	<td th:text=${leave.leaveId}>Id</td>
	<td th:text=${leave.submittedByStaffID.staffId}>StaffID</td>
	<td th:text=${leave.submittedByStaffID.firstName}>StaffName</td>
	<td th:text=${leave.dateStart}>dateStart</td>
	<td th:text=${leave.duration}>duration</td>
	<td th:text=${leave.reason}>reason</td>
	<td th:text=${leave.status}>status</td>
	<td th:text=${leave.submittedByStaffID.annualLeaveBalance}>balance</td>
</table>



<form th:object="${leave}" method="post" th:action="@{/leave/reply}"  >
<table >

<tr>
	<td >
	<input type="hidden" th:field=*{leaveId} />
	</td>
</tr>
<tr>
	<td >
	<input type="hidden" th:field=*{submittedByStaffID.staffId} />
	</td>
</tr>
<tr>
	<td >
	<input type="hidden" th:field=*{submittedByStaffID.firstName} />
	</td>
</tr>

<tr>
	<td >
	<input type="hidden" th:field=*{dateStart} /></td>
</tr>

<tr>
	<td >
	<input type="hidden" th:field=*{duration} /></td>
</tr>

<tr>
	<td >
	<input type="hidden" th:field=*{reason} /></td>
</tr>

<tr>
	<td >
	<input type="hidden" th:field=*{submittedByStaffID.annualLeaveBalance} />
	
	</td>
</tr>

<tr>

 	<th th:text="${leave.status}=='Pending'?'Change Status':''">change status or not</th>
	<td th:if="${leave.status}=='Pending'">
	<select th:field="*{status}" >
	<option value="Pending">select status</option>
	<option  th:value="Approve">Approve</option>	
  	<option  th:value="Reject">Reject</option>
  	</select>
	
	<button type="submit" >Submit</button> </td>
	
	
	
</tr>

</table>

</form>

<p></p>
<p></p>

<a th:href="@{/leave/alllist}"><button type="submit"  >Back to Leave List</button> </a>


</div>	


</body>
</html>