<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leave Details</title>
</head>
<body>

<form action="/leave/reply"  th:object="${leave}" method="post"th:action="@{/leave/reply}"  >
<table>

<tr>
	<td>Application Id</td>
	<td >
	<input type="text" th:field=*{leaveId} />
	</td>
</tr>
<tr>
	<td>Staff Id</td>
	<td >
	<input type="text" th:field=*{submittedByStaffID.staffId} />
	</td>
</tr>
<tr>
	<td>Staff Name</td>
	<td >
	<input type="text" th:field=*{submittedByStaffID.firstName} />
	</td>
</tr>

<tr>
	<td>Leave Start Time</td>
	<td >
	<input type="text" th:field=*{dateStart} /></td>
</tr>

<tr>
	<td>Duration</td>
	<td >
	<input type="text" th:field=*{duration} /></td>
</tr>

<tr>
	<td>Reason</td>
	<td >
	<input type="text" th:field=*{reason} /></td>
</tr>

<tr>
	<td>Annual Leave Balance</td>
	<td >
	<input type="text" th:field=*{submittedByStaffID.annualLeaveBalance} />
	
	</td>
</tr>

<tr>
	<th>Status</th>
	<td>
	<select th:field="*{status}" >
	<option value="">select status</option>
	<option  th:value="approve">approve</option>
  	<option  th:value="pending">pending</option>
  	<option  th:value="reject">reject</option>
  	</select>
	</td>
</tr>
</table>


<button type="submit" >Submit</button>

</form>




	


</body>
</html>