<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header_admin"></div>
<main role="main" class="container">
	<form th:object="${lecturer}" method="post">
		<table class="w3-table-all">
			<tr>
				<th>Title</th>
			 	<td><input type="text" th:field="*{title}" /></td>
			</tr>
			<tr>
				<th>First Name</th>
				<td><input type="text" th:field="*{firstName}" /></td>
			</tr>
			<tr>
				<th>Middle Name</th>
				<td><input type="text" th:field="*{middleName}" /></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" th:field="*{lastName}" /></td>
			</tr>
			<tr>
				<th>Birth Date</th>
				<td><input type="date" th:field="*{birthDate}" /></td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td><input type="text" th:field="*{mobile}" /></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<th>Gender</th>
				<td><select th:field="*{gender}">
						<option th:value="None" hidden>Select Gender</option>
						<option th:value="male">Male</option>
						<option th:value="female">Female</option>
					</select>
				</td>
			</tr>		
			<tr>
				<th>Address</th>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			<tr>
				<th>Status</th>
				<td><input type="text" th:field="*{status}" /></td>
			</tr>

		</table>
		<button type="submit">Add Lecturer</button>
	</form>
	</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>