<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Schedule List</title>
</head>
<body>
<div class="w3-responsive">

<form class="form-inline my-2 my-lg-0" th:action="@{/schedule/list}" method="get">
	<input name="classid" type="text"  placeholder="Search Schedule"  />
	<button type="submit">Search</button>
</form>

<table  class="w3-table-all w3-centered w3-hoverable">
<tr>
	<th>ScheduleId</th>
	<th>Period</th>
	<th>Date</th>
	<th>Lecturer</th>
	<th>Subject</th>
	<th>Class-CourseName</th>
	<th>Edit</th>
	<th>Delete</th>
	
</tr>

<tr th:each="schedule:${schedule}">
	<td th:text=${schedule.scheduleId}>scheduleId</td>	
	<td th:text="${schedule.period}==2?'Aftarnoon':'Morning'">period</td>
	<td th:text=${schedule.date}>date</td>

	<td th:text=${schedule.lecturer.firstName}>lecturer</td>
	<td th:text=${schedule.subject.subjectName}>subject</td>
	<td th:text="${schedule.clas.classId+'-'+schedule.clas.course.courseName}">courseName</td>	
	<td><a th:href="@{/schedule/edit/}+${schedule.scheduleId}">Edit</a></td>
	<td><a th:href="@{/schedule/delete/}+${schedule.scheduleId}">Delete</a></td>
</tr>

</table>



</div>

	<!--  <td><a th:href="@{/schedule/edit/}+${schedule.scheduleId}">Edit</a></td> -->


</body>
</html>