<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Custom styles for this template -->
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Student</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Disabled</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown01"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" th:action="@{/students/list}"
				method="get">
				<input class="form-control mr-sm-2" name="name" type="text"
					placeholder="Search Student" aria-label="Search" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<main role="main" class="container">


		<div class="starter-template">
			<h1>Student</h1>
		</div>

		<div class="container">
			<h4>Student Details</h4>
		</div>
		<div class="container" th:object="${student}">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<td><b
						th:text="*{title + '. ' + firstName + ' ' + middleName + ' ' + lastName + ', ' + age}"></b></td>
				</tr>
				<tr>
					<th>Birth Date</th>
					<td th:text="*{birthDate}" /></td>
				</tr>
				<tr>
					<th>Address</th>
					<td th:text="*{address}" /></td>
				</tr>
				<tr>
					<th>Mobile</th>
					<td th:text="*{mobile}" /></td>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="*{email}" /></td>
				</tr>
			</table>
		</div>

		<div class="container">
			<table class="table table-striped"
				th:each="c,i:${student.courseClassList}">
				<tr>
					<th th:text="'Enrolled in: ' + ${i.index + 1} + '/' + ${i.size}">Enrolled in</th>
					<th></th>
				</tr>
				<tr>
					<td th:text="${c.course.courseName}">Course Name</td>
					<td th:text="${'GPA: ' + gpa[i.index]}">GPA</td>
				</tr>
				<tr>
					<th>Subject</th>
					<th>Grades</th>
				</tr>
				<tr th:each="g,k:${c.gradeList}">
					<td th:text="${k.index + 1} + '. ' +  ${g.subject.subjectName}">Subject
						Name</td>
					<td th:text="${g.grade + ' (' + g.gradeToGPA + ')'}">Grade</td>
				</tr>
			</table>
		</div>
		<div class="container">
			<a class="btn btn-success" type="submit"
				th:href="@{/students/edit/{id}(id=${student.studentId})}">Edit/Update</a>
		</div>
		<div>
			<a class="btn btn-outline-dark" th:href="@{/students/list}">Back
				to List</a>
		</div>
		<div>
			<a class="btn btn-outline-dark" th:href="@{/students/list}">Apply
				Course</a>
		</div>
		</div>
	</main>

	<!-- Optional JavaScript -->



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>
