<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div th:if="${access==1}" th:replace="fragments/header :: header_admin"></div>
<div th:if="${access==2}" th:replace="fragments/header :: header_lect"></div>
<div th:if="${access==3}" th:replace="fragments/header :: header_student"></div>
	<main role="main" class="container">


		<div class="starter-template">
			<h1>Subject List</h1>
		</div>

		<div class="container">
			<h4>List of Subjects</h4>
		</div>
		<div class="container">
			<!-- 			<p th:text="${session.usersession.name}">Para 2</p> -->
		</div>
		<div class="container">
			<form class="form-inline my-2 my-lg-0" th:action="@{/subjects/list}"
				method="get">
				<input class="form-control mr-sm-2" name="name" type="text"
					placeholder="Search Subjects" aria-label="Search" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>

		<div class="container">
			<table class="table table-striped" id="subjectlist">
				<tr>
					<th>Subject Id</th>
					<th>Subject Name</th>
					<th>Units</th>
					<th></th>
					<th></th>
					<th></th>

				</tr>
				<tr th:each="subject:${subjects}">
					<td th:text=${subject.subjectId}>Subject Id</td>
					<td th:text=${subject.subjectName}>Subject Name</td>
					<td th:text=${subject.units}>Units</td>
					
					<td><a type="submit"
						th:href="@{/subjects/details/{id}(id=${subject.subjectId})}"
						class="btn btn-outline-dark">View Details</a></td>
					<td><a type="submit"
						th:href="@{/subjects/edit/{id}(id=${subject.subjectId})}"
						class="btn btn-outline-dark">Edit</a></td>
					<td><a type="submit"
						th:href="@{/subjects/delete/{id}(id=${subject.subjectId})}"
						class="btn btn-outline-dark">Delete</a></td>
				</tr>
			</table>

			<div>
				<a class="btn btn-success" th:href="@{/subjects/add}">Add New
					Subject</a>
			</div>
		</div>
	</main>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
