<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	crossorigin="anonymous">

<title>SMS</title>
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
</style>
<link href="starter-template.css" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header_admin"></div>
	<main role="main" class="container">


		<div class="starter-template">
			<h1>Subject</h1>
		</div>

		<div class="container">
			<h4 th:text="*{subjectId != 0}? 'Update Subject' : 'Add New Subject'">Add New Subject</h4>
		</div>
		<div class="container">
			<form th:object="${subject}"
				id="add-subject-form" class="form-horizontal" method="post">

				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="title">Subject Name</label> <input class="form-control"
							placeholder="Enter Subject Name" type="text" th:field="*{subjectName}" />
						<p th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 mb-6">
						<label for="subjectDesc">Subject Description</label><textarea rows="8" cols=""
							class="form-control" placeholder="Enter Subject Decription"
							th:field="*{subjectDesc}" /></textarea>
						<p th:if="${#fields.hasErrors('subjectDesc')}"
							th:errors="*{subjectDesc}"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="units">Units</label> <input
							class="form-control" placeholder="Enter Units" type="text"
							th:field="*{units}" />
						<p th:if="${#fields.hasErrors('units')}"
							th:errors="*{units}"></p>
					</div>
				</div>
				<button
					th:text="*{subjectId != 0}? 'Update Subject' : 'Add Subject'"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
			</form>
			<div>
				<a class="btn btn-outline-dark" th:href="@{/subjects/list}">Back to Subject List</a>
			</div>
		</div>
	</main>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
