<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template -->
<style>
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
.pic{
height: auto; 
width: auto\9;
 width:100%;
}
.footer{
border:1px solid #000;
 height:605px;
bottom:0;width:100%;
}
.footer-bottom {
	background: #D6D6D0;
	padding-top: 10px;
}

.footer-bottom p {
	color: #363432;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-left: 15px;
}
</style>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
  <title>Welcome SMS</title>
  <!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<body>
<div>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a href="http://localhost:8080/login"><img  src="https://i.imgur.com/LU6MRJE.png" width=100 height=25></a>
		
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">				
				<li><a href=""><i class="fa fa-envelope"></i></a></li>
				<li><a href=""><i class="fa fa-phone"></i></a></li>							
			</ul>
		
			<div class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link">Welcome to Team 9 SMS</a></li>
					<li class="nav-item active"><a class="nav-link" href="http://localhost:8080/login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>	
</div>
<div>
<div pic>
<img src="https://i.imgur.com/Un3FfND.jpg"  alt="Big Boat" /><!--https://www.tcglobal.com/images/blog/nus-banner.jpg-->			
</div>
<center>
<footer class="footer">
	<div class="footer-top">
		<div class="company">
			<div class="container">				
				<h3><strong>About Us</strong></h3>
				<p>Established in 1981, the Institute of Systems Science at National University of Singapore 
				(NUS-ISS)provides graduate education, executive education programmes, consultancy and research services.
				To date, more than 135,000 digital leaders and professionals, 7,200 corporate customers and
				6,250 post-graduate alumni have benefitted from NUS-ISS’ suite of services.</p>
				<h3><strong>Contact Us</strong></h3>
				<h4><span>For General Enquiries</span></h4>
				Please write to us at <a href="mailto:isstraining@nus.edu.sg">isstraining@nus.edu.sg</a></br></br>
				<h4><span>For Feedback</span></h4>
				Please write to us at&nbsp;<a href="mailto:issqa@nus.edu.sg">issqa@nus.edu.sg</a></br></br>
				<h4><span>For Registration of Courses or Training Enquiries</span></h4>
				Tel: (65) 6516 2020 / 6516 5409<br />&nbsp; &nbsp; &nbsp; (65) 6601 3975 / 6601 2391</br>
				Email:&nbsp;<a href="mailto:isstraining@nus.edu.sg">isstraining@nus.edu.sg</a></br></br>
				<h4>Graduate Programme Enquiries</br>
				Application &amp; Admission</h4>
				Tel: (65) 6601 3161 / 6516 2516 / 6516 6153 /6516 6769/6516 1047</br>
				Email:&nbsp;<a href="mailto:isspostgrad@nus.edu.sg">isspostgrad@nus.edu.sg</a>
			</div>
		</div>
	</div>


<div class="footer-bottom">
	<div class='sfContentBlock'>
		<p class="pull-left">&copy; National University of Singapore.
			All Rights Reserved.</p>
		<p class="pull-right">Designed by Team 9</p>
	</div>
</div>
</footer>
</center>
</body>
</html>